
.DS_Store

adalina-usb/adalina-usb.xcodeproj/xcuserdata/lavz24.xcuserdatad/xcschemes/xcschememanagement.plist

adalina-usb/adalina-usb.xcodeproj/xcuserdata/lavz24.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

adalina-usb/adalina-usb.xcodeproj/project.xcworkspace/xcuserdata/lavz24.xcuserdatad/UserInterfaceState.xcuserstate

adalina-usb/adalina-usb.xcodeproj/project.xcworkspace/contents.xcworkspacedata

adalina-usb/adalina-usb.xcodeproj/xcuserdata/lavz24.xcuserdatad/xcschemes/adalina-3-usb.xcscheme

adalina-usb/adalina-usb.xcodeproj/xcuserdata/lavz24.xcuserdatad/xcschemes/adalina-usb.xcscheme

adalina-usb/adalina-usb.xcodeproj/xcuserdata/lavz24.xcuserdatad/xcschemes/adalina-2-usb.xcscheme
